---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	
	<main>
		<div class="bg-[blue] w-10">
			<h1>hola</h1>
		</div>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="bg-[red] px-50">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			
		</ul>
	</main>
</Layout>

<style>
	
</style>
