<nav class="w-80 h-screen bg-[#482344]">
    <div class="py-14">
        <div class="w-52 mx-auto py-20 px-14 rounded-full bg-white">
            <p class="text-center">Singer Excersise</p>
        </div>
    </div>
    <ul class="w-full font-bold text-white cursor-pointer text-center">
        <li class="hover:bg-[#432A49] ">INICIO</li>
        <li class="hover:bg-[#432A49] ">CALENTAMIENTO</li>
        <li class="hover:bg-[#432A49] ">RESPIRACIÓN</li>
        <li class="hover:bg-[#432A49] ">REPERTORIO</li>
    </ul>
</nav>

<style>
    li {
        padding: 20px;
    }
    
</style>