<nav class="w-80 h-screen bg-[#482344]">
    <div class="py-14">
        <img class="mx-auto" src="/logo-singer.svg" alt="logo">
    </div>
    <ul class="w-full font-bold text-white cursor-pointer text-center">
        <li class="hover:bg-[#432A49] ">INICIO</li>
        <li class="hover:bg-[#432A49] ">CALENTAMIENTO</li>
        <li class="hover:bg-[#432A49] ">RESPIRACIÓN</li>
        <li class="hover:bg-[#432A49] ">REPERTORIO</li>
    </ul>
</nav>

<style>
    li {
        padding: 20px;
    }
    
</style>